@model serveurJDRMVC.Models.Statistique.DeeStat

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DeeStat</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NbDee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NbDee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TailleDee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TailleDee)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
