@model serveurJDRMVC.Models.Effets.Effet

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Effet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ChanceEffetBonus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChanceEffetBonus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TempsAvantEffetBonus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TempsAvantEffetBonus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Penetration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Penetration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MinHit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinHit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxHit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxHit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DureMin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DureMin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DureMax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DureMax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CoefStatUtil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoefStatUtil)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CoefStatReduc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoefStatReduc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cible)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cible)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CumulMax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CumulMax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChanceResist)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChanceResist)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValeurBase)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValeurBase)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Drain)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Drain)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TailleDee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TailleDee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NbDee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NbDee)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
